@{
    ViewBag.Title = "Adventure Works Customer Management System";
}

<link rel="stylesheet" href="http://twitter.github.io/typeahead.js/css/normalize.min.css">
<link rel="stylesheet" href="http://twitter.github.io/typeahead.js/css/main.css">

<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/jquery-ui.min.js"></script>
<script src="http://twitter.github.io/typeahead.js/js/jquery-1.10.2.min.js"></script>
<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

<script type="text/javascript">

    $(function () {
        // Execute search if user clicks enter
        $("#q").keyup(function (event) {
            if (event.keyCode == 13) {
                Search();
            }
        });
    });

    function Search(fiterField, filter) {
        // We will post to the MVC controller and parse the full results on the client side
        // You may wish to do additional pre-processing on the data before sending it back to the client
        var q = $("#q").val();
        
        $.post('/home/search',
        {
            q: q,
            fiterField: fiterField,
            filter: filter
        },
        function (data) {
            var searchResultsHTML = "<tr><th>Name</th><th>Company Name</th>";
            searchResultsHTML += "<th>Sales Person</th><th>Email Address</th>";
            searchResultsHTML += "<th>Phone</th><th>Address Type</th><th>Address</th>";
            searchResultsHTML += "<th>City</th><th>State/Province</th><th>Country</th>";
            searchResultsHTML += "<th>Postal Code</th></tr>";
            for (var i = 0; i < data.Results.length; i++) {
                searchResultsHTML += "<tr>";
                searchResultsHTML += "<td>" + data.Results[i].Document.FirstName + "&nbsp;";
                if (data.Results[i].Document.MiddleName != null)
                    searchResultsHTML += data.Results[i].Document.MiddleName + "&nbsp;";
                searchResultsHTML += data.Results[i].Document.LastName + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.CompanyName + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.SalesPerson + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.EmailAddress + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.Phone + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.AddressType + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.AddressLine1 + "&nbsp;";
                searchResultsHTML += data.Results[i].Document.AddressLine2 + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.City + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.StateProvince + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.CountryRegion + "</td>";
                searchResultsHTML += "<td>" + data.Results[i].Document.PostalCode + "</td>";
                searchResultsHTML += "</tr>";
            }

            $("#searchResults").html(searchResultsHTML);

            //Facets HTML
            var facetResultsHTML = "<table><tr><th>Company Name</th></tr>";
            for (var i = 0; i < data.Facets.CompanyName.length; i++) {
                facetResultsHTML += "<tr><td><a href='javascript:void(0);' onclick='Search(\"CompanyName\",\"" + escape(data.Facets["CompanyName"][i].Value) + "\");'>" + data.Facets["CompanyName"][i].Value + "</a> (" + data.Facets["CompanyName"][i].Count + ")</tr></td>";
            }
            facetResultsHTML += "</table>";
            facetResultsHTML += "<table><tr><th>Sales Person</th></tr>";
            for (var i = 0; i < data.Facets.SalesPerson.length; i++) {
                facetResultsHTML += "<tr><td><a href='javascript:void(0);' onclick='Search(\"SalesPerson\",\"" + escape(data.Facets["SalesPerson"][i].Value) + "\");'>" + data.Facets["SalesPerson"][i].Value + "</a> (" + data.Facets["SalesPerson"][i].Count + ")</tr></td>";
            }
            facetResultsHTML += "</table>";
            facetResultsHTML += "<table><tr><th>Products Purchased</th></tr>";
            for (var i = 0; i < data.Facets.ProductNames.length; i++) {
                facetResultsHTML += "<tr><td><a href='javascript:void(0);' onclick='Search(\"ProductName\",\"" + escape(data.Facets["ProductNames"][i].Value) + "\");'>" + data.Facets["ProductNames"][i].Value + "</a> (" + data.Facets["ProductNames"][i].Count + ")</tr></td>";
            }
            facetResultsHTML += "</table>";
            $("#facetResults").html(facetResultsHTML);
        });

    };

</script>
<div class="sticky-footer-wrapper" style="padding-left:20px;">
    <h2>AdventureWorks Customer Management System</h2>
    <div id="remote">
        <input class="typeahead" type="text" id="q" placeholder="Search"><br />
    </div>
    <div id="searchCount"></div>
    <br />
    <div class="row" style="float:left;padding-right:7px;">
        <table id="facetResults" border="1"></table>
    </div>
    <div class="row">
        <table id="searchResults" border="1"></table>
    </div>
</div>