<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="AzureSqlServer" value=[AZURE SQL Server] />
      <add key="AzureSqlDatabase" value=[AZURE SQL Database] />
      <add key="AzureSqlUser" value=[AZURE SQL User] />
      <add key="AzureSqlPassword" value=[AZURE SQL Password] />

      <add key="SearchServiceName" value=[SEARCH SERVICE NAME] />
      <add key="SearchServiceApiKey" value=[SEARCH SERVICE API KEY] />

      <add key="AzureBlobStorageName" value=[AZURE Blob Storage Name] />
      <add key="AzureBlobStorageKey" value=[AZURE Blob Storage Key] />
      <add key="AzureBlobStorageContainer" value=[AZURE Blob Storage Container] />

    </appSettings>

</configuration>